body{
    background-color: grey;
    color: whitesmoke;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 0.25em;
    text-align: center;
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    li a{
        display: block;
        text-decoration: none;
        margin: 1em;
        padding: 0;
    }
    a:hover{
        background-color: #4CAF50;
        color: grey;
    }
}

footer {
    background-color: #4CAF50;
    color: white;
    padding: 0.25em;
    text-align: right;
}
